.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    height: 10vh;
    min-height: 100px;
    min-width: 700px;
}

.nav p{
    margin: auto;
    font-size: xx-large;
    font-weight: bolder;
}

.nav a{
    color: black;
}
.nav a:hover{
    color: red;
    transition: color 0.2s ease-in-out;
}

.nav-link{
    text-decoration: none;
}

.nav img{
    width: 150px;
    height: 100px;
    margin: 0;
    align-items: start;
    padding-left: 15px;
}

